body {
  text-align: center;
  font-size: 20px;
  color: rgba(10,20,75,0.9);
  background-image: linear-gradient(to bottom, #FFD580, #FFD580, white, #BCD4E6,#BCD4E6, white, lightgreen, lightgreen);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#img-caption {
  padding: 20px 0 5px 0;
  font-size: 15px;
  font-style: italic;
}

#title {

}

#tribute-info {
  max-width: 50%;
  margin: 20px 0  30px 25%;
  
}


h2 {


}

ul {
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
}

li {
  margin: 15px 0;
}

#tribute-link {
  font-size: 40px;
}

#footer {
  font-size: 30px;
  font-weight: bolder;
}
